.git
.github
.firebase
.cursor
**/.DS_Store

backend/target
**/target
backend/hazara-data
**/hazara-data

frontend
**/node_modules
**/.dart_tool
**/build

docs
*.md
*.log

.env
.env.*
**/*-firebase-adminsdk-*.json
